@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800&subset=cyrillic,cyrillic-ext");@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=cyrillic,latin-ext");html{line-height:1.15;-webkit-text-size-adjust:100%;font-size:16px !important;}
body{margin:0;}
h1{font-size:2em;margin:0.67em 0;}
hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0;overflow:visible;}
pre{font-family:monospace, monospace;font-size:1em;}
a{background-color:transparent;}
abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted;}
b,
strong{font-weight:bolder;}
code,
kbd,
samp{font-family:monospace, monospace;font-size:1em;}
small{font-size:80%;}
sub,
sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sub{bottom:-0.25em;}
sup{top:-0.5em;}
img{border-style:none;}
button,
input,
optgroup,
select,
textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0;}
button,
input{overflow:visible;}
button,
select{text-transform:none;}
button,
[type="button"],
[type="reset"],
[type="submit"]{-webkit-appearance:button;}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner{border-style:none;padding:0;}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring{outline:1px dotted ButtonText;}
fieldset{padding:0.35em 0.75em 0.625em;}
legend{-webkit-box-sizing:border-box;box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}
progress{vertical-align:baseline;}
textarea{overflow:auto;}
[type="checkbox"],
[type="radio"]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0;}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button{height:auto;}
[type="search"]{-webkit-appearance:textfield;outline-offset:-2px;}
[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}
details{display:block;}
summary{display:list-item;}
template{display:none;}
[hidden]{display:none;}
*{-webkit-box-sizing:border-box;box-sizing:border-box;}
*:before, *:after{-webkit-box-sizing:border-box;box-sizing:border-box;}
html, body{height:100%;}
body{font-size:16px;min-width:320px;position:relative;line-height:1.75;overflow-x:hidden;opacity:1;color:#333;}
.form-control:focus{-webkit-box-shadow:none;box-shadow:none;}
input, a, textarea, button{outline:none;cursor:pointer;border:none;}
input, textarea{cursor:text;}
img{display:block;max-width:100%;height:auto;}
.text-center{text-align:center;}
.icon{display:inline-block;width:1em;height:1em;fill:currentColor;}
.icon-adjust-solid{font-size:51.2rem;width:1em;}
.icon-button-arrow{font-size:3.149rem;width:1em;}
.icon-clock-solid{font-size:51.2rem;width:1em;}
.icon-left-arrow{font-size:51.2rem;width:1em;}
.icon-logo{font-size:1.7313rem;width:5.00375em;}
.icon-phone-call-icon{font-size:1.6rem;width:1em;}
.icon-pin-map-icon{font-size:1.6rem;width:0.75em;}
.icon-right-arrow{font-size:51.2rem;width:1em;}
.icon-ruble-sign-solid{font-size:51.2rem;width:0.75em;}
.page-header{height:82px;position:fixed;top:0;left:0;right:0;background-color:#fff;z-index:10;background-image:-webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, #fe8045));background-image:-webkit-linear-gradient(left, transparent 50%, #fe8045 50%);background-image:-o-linear-gradient(left, transparent 50%, #fe8045 50%);background-image:linear-gradient(to right, transparent 50%, #fe8045 50%);}
.page-header .container{height:100%;}
@media only screen and (max-width:992px){.page-header{background-color:#fe8045;background-image:none;}
}
.logo .icon{width:87px;height:18px;margin-left:20px;}
@media only screen and (max-width:992px){.logo .icon{color:#fff;}
}
.logo a{color:#121f26;}
@media only screen and (max-width:992px){.logo a{color:#fff;}
}
.page-nav{margin-left:auto;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;width:50%;height:100%;}
@media only screen and (max-width:992px){.page-nav{width:auto;background-color:#fe8045;}
}
@media only screen and (max-width:480px){.page-nav{width:100vw;margin-left:0;position:fixed;height:100vh;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;top:0;left:0;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;display:none;}
.page-nav .btn_mnu{position:absolute;top:20px;right:20px;margin:0;}
.page-nav.open{display:-webkit-box !important;display:-webkit-flex !important;display:-ms-flexbox !important;display:flex !important;}
}
.page-nav__menu{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;padding-left:70px;}
@media only screen and (max-width:1200px){.page-nav__menu{padding-left:20px;}
}
@media only screen and (max-width:480px){.page-nav__menu{width:100%;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;padding-left:0;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
}
.page-nav__menu li{list-style:none;line-height:0.75em;}
.page-nav__menu li a{line-height:0.75em;display:inline;color:#ffffff;font-family:"Montserrat", sans-serif;font-size:14px;font-weight:500;letter-spacing:-0.92px;text-decoration:none;margin-right:60px;}
@media only screen and (max-width:1200px){.page-nav__menu li a{margin-right:50px;}
}
@media only screen and (max-width:767px){.page-nav__menu li a{margin-right:15px;}
}
@media only screen and (max-width:480px){.page-nav__menu li a{font-size:18px;margin:0 auto 20px;display:block;}
}
.header-btn{margin-left:auto;color:#fc5741;font-family:"Montserrat", sans-serif;font-size:14px;font-weight:500;letter-spacing:-0.92px;display:inline-block;height:41px;-webkit-border-radius:5px;border-radius:5px;background-color:#ffffff;padding:0 33px;line-height:41px;text-decoration:none;margin-right:36px;}
@media only screen and (max-width:1200px){.header-btn{margin-right:20px;}
}
@media only screen and (max-width:480px){.header-btn{padding:0 20px;}
}
@media only screen and (max-width:480px){.header-btn{margin:0;}
}
.logo{line-height:0.75em;}
.slogan{line-height:0.75em;color:#323641;font-family:"Montserrat", sans-serif;font-size:18px;font-weight:400;letter-spacing:-0.25px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
@media only screen and (max-width:992px){.slogan{display:none;}
}
.slogan:before{content:'';display:block;width:2px;height:41px;background-color:#fe7947;opacity:0.2;margin:0 28px;}