.about{
    padding: 127px 0;
    text-align: left;
    position: relative;
    @media only screen and (max-width : 480px) {
        padding: 0;
    }
    .main-btn{
        position: absolute;
        top:-30px;
        left: 50%;
        margin-left: -130px;
        @media only screen and (max-width : 480px) {
            font-size: 18px;
        }
    }
    @media only screen and (max-width : 767px) {
        .container{
            flex-wrap:wrap;
        }
    }
}

.about__left{
    max-width: 460px;
    width: 100%;
    padding-top: 56px;
    @media only screen and (max-width : 1200px) {
        max-width: 45%;
        padding-left: 20px;
    }
    @media only screen and (max-width : 767px) {
        max-width: 100%;
    }
}

.img-container{
    max-width: 593px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    @media only screen and (max-width : 767px) {
        max-width: 100%;
        margin-top: 20px;
    }
}

.half-img{
    max-width: 293px;
    height: auto;
    margin-bottom: 7px;
    @media only screen and (max-width : 1200px) {
        max-width: 49.4%;
    }
}

.about__right{
    position: relative;
    @media only screen and (max-width : 992px) {
        display: flex;
        align-items: center;
    }
}

.video-link{
    color: #fe5453;
    font-family: $mainFont;
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    text-decoration: underline;
    margin-top: 20px;
    &:hover{cursor: pointer;}
    .icon{
        width: 17px;
        height: 12px;
        color: #fe5453;
        margin-left: 15px;
    }
}

@keyframes pulse {
    from {
      transform: scale(1.2);
    }
}

.video-btn{
    width: 102px;
    height: 102px;
    box-shadow: 0 10px 50px rgba(247, 42, 42, 0.32);
    background-image: $mainGradient;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:50%;
    right: 50%;
    margin-top: -60px;
    margin-right: -51px;
    cursor: pointer;
    animation: pulse 0.9s linear infinite alternate;
    img{
        position: relative;
        right: -5px;
    }
}