.programs{
    .title{text-align: center;}
    background-color: #f5f5fa;
    padding: 100px 0 76px;
    @media only screen and (max-width : 1200px) {
        padding: 100px 20px 76px;
    }
    @media only screen and (max-width : 480px) {
        padding: 100px 10px 50px;
    }
}

.programs__tabs{
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 16px;
    margin-top: 70px;
    @media only screen and (max-width : 767px) {
        justify-content: space-between;
    }
    @media only screen and (max-width : 480px) {
        padding-bottom: 0;
    }
}

.programs__tabs-item{
    color: #121f26;
    font-family: $mainFont;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2em;
    height: 57px;
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: 0.3;
    transition:all 0.3s;
    @media only screen and (max-width : 1200px) {
        font-size: 18px;
    }
    @media only screen and (max-width : 767px) {
        font-size: 13px;
        &.programs__tabs-item{
            margin-right: 0;
        }
    }
    @media only screen and (max-width : 480px) {
        font-size: 9px;
    }
    &:before{
        content: '';
        display: block;
        background-image: url('../img/course-sprite.png');
        margin-right: 20px;
        @media only screen and (max-width : 992px) {
            display: none;
        }
    }
    &.active{
        opacity: 1;
        position: relative;
        &:after{
            content:'';
            display: block;
            width: 282px;
            height: 12px;
            background-color: #fe7947;
            position: absolute;
            left: 0;
            bottom:-29px;
            @media only screen and (max-width : 992px) {
                width: 150px;
            }
            @media only screen and (max-width : 480px) {
                display: none;
            }
        }
    }
    &:hover{
        opacity: 1;
    }
}
.programs__tabs-item--1{margin-right: 54px;}
.programs__tabs-item--1:before{
    background-position: 0px 0px;
    width: 71px;
    height: 57px;
}
.programs__tabs-item--2{margin-right: 136px;}
.programs__tabs-item--2:before{
    background-position: -71px 0px;
    width: 72px;
    height: 42px;
}
.programs__tabs-item--3:before{
    background-position: 0px -57px;
    width: 61px;
    height: 63px;
}

.programs__item{
    width: 376px;
    background-color: #ffffff;
    min-height: 548px;
    position: relative;
    transition:all .3s;
    cursor: pointer;
    @media only screen and (max-width : 1200px) {
        width: 32%;
    }
    @media only screen and (max-width : 767px) {
        width: 100%;
        margin-bottom: 20px;
    }
    &:hover{
        box-shadow: 0 12px 29px rgba(78, 91, 166, 0.29);
    }
}

.programs__container{
    justify-content: space-between;
    padding-top: 65px;
    display: none;
    @media only screen and (max-width : 767px) {
        flex-wrap: wrap;
    }
    &.active{
        display: flex!important;
    }
    &--center{
        justify-content: center;
        .programs__item{
            margin: 0 15px;
        }
    }
}

.course-info{
    padding: 30px;
    @media only screen and (max-width : 1200px) {
        padding-bottom: 45px;
    }
    @media only screen and (max-width : 992px) {
        padding: 15px 15px 45px;
    }
    p{
        color: #999999;
        font-family: $mainFont;
        font-size: 15px;
        font-weight: 400;
        line-height: 24.79px;
        letter-spacing: 0.4px;
    }
}

.course-name{
    color: #999999;
    font-family:  $mainFont;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 0.75em;
    margin-bottom: 18px;
}

.course-title{
    color: #333333;
    font-family: $mainFont;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.53px;
    line-height: 0.75em;
    margin-bottom: 25px;
    @media only screen and (max-width : 992px) {
        font-size: 17px;
        line-height: 1em;
    }
}

.price{
    color: #be7b6b;
    font-family: $mainFont;
    font-size: 13px;
    font-weight: 400;
    line-height: 0.75em;
    margin-top: 30px;
    position: absolute;
    bottom:34px;
    left: 34px;
    @media only screen and (max-width : 1200px) {
        bottom:25px;
    }
}